@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafd;
}
.skeleton-loader {
  display: flex;
  flex-direction: column;
}

.skeleton-line {
  height: 20px;
  width: 100%;
  background-color: #ddd; /* Placeholder color */
  margin-bottom: 10px;
  border-radius: 4px;
}
